.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.away,
.home {
  position: relative;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  width: 400px;
  height: 500px;
}

#awayTeamLineup,
#homeTeamLineup {
  position: absolute;
  left: 50%;
  top: 18%;
  width: 90%;
  transform: translateX(-50%);
  text-align: center;
  padding-right: 1em;
  border: 1px solid black;
}

.form-container-away,
.form-container-home {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 150px;

  width: 90%;
  bottom: 1em;
  right: 50%;
  transform: translateX(50%);
  visibility: hidden;
}

.bottom-container {
  position: absolute;
  width: 40%;
  display: flex;

  justify-content: space-around;
  align-items: center;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  cursor: pointer;
}
.add-player.home-team,
.add-player.away-team {
  color: blue;
}

.clear-team.home-team,
.clear-team.away-team {
  color: red;
}

.show-form,
.show-clear-btn {
  visibility: visible;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.play-form-container-home,
.play-form-container-away {
  position: absolute;
  transform: translateY(-1000%);
  visibility: hidden;
}

.show-play-form-home,
.show-play-form-away {
  visibility: visible;
}
